.container {
  margin-left: 320px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.container.close {
  margin-left: 0px;
}

.bar svg {
  width: 32px;
  height: 32px;
  margin: 10px 10px 10px 0px;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 0px;
  }
}
